<h1>About</h1>
<p>

<section class="row">
<div class="span12">
	This application is Philip Healthcare's submission for the
	<a href="http://challenge.gov/HHS/372-my-air-my-health-challenge">My Air My Health Challenge.<a/>
		<br><br>
		<%= render 'shared/youtube_video_embed' %> 
	</div>
</section>
